#issuetable tr {
  font-size: 11px !important;
  border: 1px dotted #efefef !important;
  border-bottom: 1px solid #ccc !important;
}
#issuetable td {
  padding: 2px 5px !important;
  vertical-align: middle !important;
}
#issuetable .aui-button.aui-button-compact {
  height: 18px !important;
}
#issuetable .aui-button.aui-button-compact .aui-icon-small:before {
  margin-top: -11px !important;
}
#issuetable td.labels {
  display: none;
}
#details-module_heading {
  position: relative;
}
.custom-css-key {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px;
  background: #fff;
}
.custom-css-key ul {
  padding: 0;
}
.custom-css-key li {
  padding-bottom: 5px;
  list-style-type: none;
}
.custom-css-key li span {
  display: inline-block;
  vertical-align: middle;
}
.custom-css-key li div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.mod-content {
  overflow: visible !important;
}
.issuerow.has-label .stsequence {
  position: relative;
  overflow: visible !important;
}
.issuerow.has-label .stsequence:before {
  content: '!';
  z-index: 99999;
  position: absolute;
  display: block;
  right: 100%;
  margin-right: 5px;
  width: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #f56d6d;
}
