.ghx-issue .ghx-summary,
.ghx-issue .ghx-days {
  display: none !important;
}
.ghx-issue .ghx-extra-fields {
  margin: 0 !important;
}
.ghx-issue .ghx-issue-content {
  min-height: 0 !important;
  padding-top: 5px !important;
}
.ghx-issue .custom-days-count {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  font-weight: bold;
  color: #253e25;
  background: #94ec94;
}
.ghx-issue .custom-days-count.warn {
  color: #5f3518;
  background: #ff9042;
}
.ghx-issue .custom-days-count.over {
  color: #5a2323;
  background: #ff6262;
}
.ghx-issue .custom-days-count span {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ghx-issue .custom-days-count + .ghx-avatar {
  right: 40px;
}
.flagged {
  background: #ff6666;
  color: #fff;
}
.flagged a {
  color: #fff;
}
