/*  ==========================================================================
	Order Modal
  ========================================================================== */
.order-modal span {
  display: block;
  padding: 5px 10px;
  line-height: normal;
  border-bottom: 1px solid #e5e5e5;
  cursor: move;
}
.order-modal span:last-child {
  border: none;
}
/*  ==========================================================================
	Template Editor
	========================================================================== */
.setting_markup textarea {
  min-width: 100%;
  min-height: 140px;
}
