.css-assistant--button {
  position: absolute;
  top: 5px;
  right: 12px;
}
.custom-css-js--close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}
.custom-css-js--close:before,
.custom-css-js--close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 15px;
  background: currentColor;
}
.custom-css-js--close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.custom-css-js--close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.custom-css-js--container {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
}
.custom-css-js--container .inner {
  font-size: 0;
}
.custom-css-js--container .script {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0 5px;
  width: 25%;
  line-height: 55px;
  transition: all .3s;
  color: #555;
  border-bottom: 1px solid #f5f5f5;
}
.custom-css-js--container .script:not(:nth-child(4n + 1)) {
  border-right: 1px solid #f5f5f5;
}
.custom-css-js--container .script:hover {
  background: #f5f5f5;
}
.custom-css-js--container .script .inner {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 13px;
}
/*  ==========================================================================
	Code Mirror 
	========================================================================== */
.CodeMirror {
  height: 600px;
}
.cm-tab {
  position: relative;
}
.cm-tab:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 2px;
  left: 2px;
  height: 1px;
  background: #696969;
}
/*  ==========================================================================
	Template Selector 
	========================================================================== */
.icon-edit {
  pointer-events: none;
}
.nd-form-standard > .row-fluid > div > .control-group:first-child {
  margin-right: 600px;
}
.nd-form-standard > .row-fluid > div > .control-group:last-child {
  position: absolute;
  top: 129px;
  z-index: 1000;
  right: 43px;
  width: 500px;
}
.nd-form-standard .control-group .table-menu {
  position: absolute;
  top: 100%;
  width: 1000px;
  max-height: 500px;
}
.nd-form-standard .control-group .table-menu ul {
  font-size: 0;
}
.nd-form-standard .control-group .table-menu li {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  line-height: 36px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.nd-form-standard .control-group .table-menu li input {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 6px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nd-form-standard .control-group .table-menu li span {
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.nd-form-standard .control-group .table-menu li label {
  cursor: pointer;
  margin: 0;
}
