@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html {
  background: #eaeaea;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: 450px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border-bottom: 4px solid #4fc5d8;
}
img {
  max-width: 100%;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  line-height: 24px;
}
.gforcesHeader {
  padding-bottom: 20px;
}
.gforcesHeader img {
  display: inline-block;
  vertical-align: middle;
  max-width: 30px;
}
.gforcesHeader .title {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  color: #000b3c;
  font-weight: bold;
  font-size: 16px;
}
.options {
  float: right;
  line-height: 30px;
  color: #505050;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s;
}
.options:hover {
  color: #000;
  text-decoration: underline;
}
.settings {
  margin: 0 -20px;
}
.settings:after {
  content: '';
  display: table;
  clear: both;
}
.switchContainer {
  float: left;
  box-sizing: border-box;
  padding: 5px 20px 0;
  width: 50%;
  font-size: 0;
}
.switchContainer:nth-child(2n) {
  border-left: 1px solid #bdbdbd;
}
.switchContainer:nth-child(-n + 2) {
  padding-top: 10px;
}
.switchContainer:nth-child(n + 3) {
  padding-bottom: 10px;
}
.switchContainer > * {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.switchContainer.full-width {
  float: none;
  padding: 5px 0 0;
  width: 100%;
  border: none;
}
.switchContainer.has-label .title {
  width: calc(100% - 120px);
}
.switchContainer.has-label .timestamp {
  float: right;
  font-size: 12px;
}
.switchContainer .title {
  padding-right: 15px;
  width: calc(100% - 63px);
  font-weight: bold;
  font-size: 12px;
}
.backend {
  display: none;
  padding-top: 10px;
  border-top: 1px solid #bdbdbd;
}
.backend:after {
  content: '';
  display: table;
  clear: both;
}
.backendDetails {
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
  width: 60%;
}
.backendBucket {
  text-align: center;
  min-height: 19px;
}
.backendHash {
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
  height: 14px;
}
.splitTests {
  display: none;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  background: #FF9800;
}
.splitTests.active {
  display: block;
}
.splitTests.active ~ .backendDetails {
  padding-top: 20px;
}
.developerMode {
  padding-top: 10px;
}
.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 63px;
  height: 28px;
  background-color: #D8334A;
  border-radius: 3px;
  transition: .25s ease;
}
.switch .slider {
  position: absolute;
  width: 26px;
  height: 22px;
  top: 3px;
  left: 3px;
  background-color: #F5F7FA;
  border-radius: 2px;
  transition: .25s ease;
  cursor: pointer;
}
.switch .slider:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 7px;
  background-color: #E6E9ED;
  box-shadow: 6px 0 0 0 #E6E9ED, -6px 0 0 0 #E6E9ED;
}
.switch .icon {
  position: absolute;
  top: 50%;
}
.switch .icon:before,
.switch .icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: .25s ease;
  background-color: #BF263C;
}
.switch .tick {
  left: 15px;
}
.switch .tick:before {
  width: 11px;
  height: 3px;
  -webkit-transform: translate(-25%, -50%) rotate(-45deg);
          transform: translate(-25%, -50%) rotate(-45deg);
}
.switch .tick:after {
  width: 3px;
  height: 7px;
  -webkit-transform: translate(-100%, -30%) rotate(-45deg);
          transform: translate(-100%, -30%) rotate(-45deg);
}
.switch .cross {
  right: 16px;
}
.switch .cross:before {
  width: 12px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.switch .cross:after {
  width: 12px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.switch.checked {
  background-color: #2ECC71;
}
.switch.checked .slider {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.switch.checked .icon:before,
.switch.checked .icon:after {
  background-color: #2ABA66;
}
.buttonContainer {
  float: left;
  width: 40%;
  font-size: 0;
}
.button {
  margin-bottom: 5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.button.sprite {
  padding-top: 20px;
}
.button.frontend .btn {
  background: #6e4dd0;
}
.button.frontend .btn:hover {
  background: #5934c5;
}
.btn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  color: #fff;
  background: #2585c7;
  border-radius: 3px;
  font-size: 12px;
  transition: all .3s;
}
.btn:hover {
  background: #1f71a9;
}
.modal {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 15px 5px;
  width: 360px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  box-shadow: 2px 3px 8px 0 rgba(42, 48, 55, 0.04), 8px 13px 38px 0 rgba(42, 48, 55, 0.02);
  transition: all .35s ease;
  border: 1px solid #e6e6e6;
}
.modal:after {
  content: '';
  display: table;
  clear: both;
}
.modal .field {
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%;
}
.modal label {
  margin-bottom: 5px;
}
.modal .buttons {
  clear: both;
}
.modal .button {
  width: auto;
}
.modal .btn {
  padding: 0 10px;
}
.modal .cancel {
  background: #D8334A;
}
.modal .cancel:hover {
  background: #cb273e;
}
.login-failed {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 15px;
  width: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 3px;
  background: #fff;
  border: 1px solid #cbcbcb;
}
.login-failed ul {
  padding-left: 20px;
}
.login-failed .button {
  display: block;
  text-align: center;
  width: 100%;
}
.login-failed .btn {
  display: inline-block;
  padding: 0 10px;
}
