.gforces-assistant--overlay {
  position: fixed;
  z-index: 9997;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.gforces-assistant--overlay--confirm {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(24, 160, 136, 0.9);
}
.gforces-assistant--overlay--confirm .box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 160px;
  height: 100px;
}
.gforces-assistant--overlay--confirm .box:before,
.gforces-assistant--overlay--confirm .box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: #fff;
}
.gforces-assistant--overlay--confirm .box:after {
  top: auto;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
}
.gforces-assistant--modal {
  position: fixed;
  z-index: 9998;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px;
  width: 300px;
  background: #f1f1f1;
  border-radius: 3px;
}
.gforces-assistant--modal select,
.gforces-assistant--modal input {
  display: block;
  margin-bottom: 10px !important;
}
.gforces-assistant--modal label {
  font-size: 14px;
}
.gforces-assistant--modal .btn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  color: #fff;
  background: #2585c7;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  font-size: 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.gforces-assistant--modal .btn:before,
.gforces-assistant--modal .btn:after {
  display: none;
}
.gforces-assistant--modal .btn:hover {
  color: #fff;
  background: #1f71a9;
}
.gforces-assistant--modal .btn:hover:before,
.gforces-assistant--modal .btn:hover:after {
  display: none;
}
.gforces-assistant--modal .btn.cancel {
  background: #D8334A;
}
.gforces-assistant--modal .btn.cancel:hover {
  color: #fff;
  background: #cb273e;
}
