/* ==========================================================================
   Dropdown Overlay 
   ========================================================================== */
.gforces-assistant--overlay {
  position: fixed;
  z-index: 9997;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.gforces-assistant--overlay--confirm {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(24, 160, 136, 0.9);
}
.gforces-assistant--overlay--confirm .box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 160px;
  height: 100px;
}
.gforces-assistant--overlay--confirm .box:before,
.gforces-assistant--overlay--confirm .box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: #fff;
}
.gforces-assistant--overlay--confirm .box:after {
  top: auto;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
}
.gforces-assistant--modal {
  position: fixed;
  z-index: 9998;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(0) translate(-50%, -50%);
          transform: translateZ(0) translate(-50%, -50%);
  padding: 15px;
  width: 300px;
  color: #000;
  background: #f1f1f1;
  border-radius: 3px;
  font-family: Arial;
}
.gforces-assistant--modal select,
.gforces-assistant--modal input {
  display: block;
  margin-bottom: 10px !important;
}
.gforces-assistant--modal label {
  font-size: 14px;
}
.gforces-assistant--modal .btn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  color: #fff;
  background: #2585c7;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  font-size: 12px;
  transition: all .3s;
}
.gforces-assistant--modal .btn:before,
.gforces-assistant--modal .btn:after {
  display: none;
}
.gforces-assistant--modal .btn:hover {
  color: #fff;
  background: #1f71a9;
}
.gforces-assistant--modal .btn:hover:before,
.gforces-assistant--modal .btn:hover:after {
  display: none;
}
.gforces-assistant--modal .btn.cancel {
  background: #D8334A;
}
.gforces-assistant--modal .btn.cancel:hover {
  color: #fff;
  background: #cb273e;
}
/* ==========================================================================
   Slashes Overlay 
   ========================================================================== */
.gforces-assistant--slashes {
  position: fixed;
  z-index: 9999;
  padding: 10px;
  top: 30px;
  left: 30px;
  width: 300px;
  color: #000;
  background: #f1f1f1;
  font-family: Arial;
}
.gforces-assistant--slashes.double-width {
  width: 600px;
}
.gforces-assistant--slashes.double-width a {
  float: left;
  width: calc(50% - 2px);
}
.gforces-assistant--slashes.double-width a:nth-child(even) {
  margin-right: 2px;
}
.gforces-assistant--slashes.double-width a:nth-child(odd) {
  margin-left: 2px;
}
.gforces-assistant--slashes .close {
  position: absolute;
  right: 10px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 6px;
  background: #fff;
}
.gforces-assistant--slashes .title {
  display: block;
  padding: 0 5px 5px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
.gforces-assistant--slashes .link {
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 40px 0 5px;
  margin-top: 5px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  background: #fff;
  font-family: Arial;
  font-size: 13px;
}
.gforces-assistant--slashes .link .value {
  padding: 0 7px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
.gforces-assistant--slashes .link:hover {
  color: #000;
}
